* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron-custom-header {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1%;
    padding-top: 2%;
    background-color: #222222;
}

.jumbotron-custom-header h1 {
    color: white;
}

.navbar-custom {
    background-color: #222222;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.list-style1 {
    list-style-position: outside;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.9;
}

.paragraph-style1 {
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 16px;
}

.copy-right {
    text-align: center;
    background: #FF5722;
    padding: 2px 50px 2px 50px;
}

.copy-right p {
    padding-top: 10px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
}
